<form [formGroup] = formModel (ngSubmit) = "onSearch()" novalidate>
    <div class="form-group"
        [class.has-error]="formModel.hasError('minlength', 'title')">
        <label for="courseTitle">Course Title</label>
        <input type="text"
                id="courseTitle"
                placeholder="Title"
                class="form-control"
                formControlName="title"
                minlength="3">
        <span class="help-block"
            [class.hidden]="!formModel.hasError('minlength', 'title')">
            Type at least 3 characters to search
        </span>
    </div>
    <div class="form-group"
        [class.has-error]="formModel.hasError('positivenumber', 'price')">
        <label for="coursePrice">Course Price:</label>
        <input type="number"
                id="coursePrice"
                class="form-control"
                step="any"
                formControlName="price"
                min="0">
        <span class="help-block"
        [class.hidden]="!formModel.hasError('positivenumber', 'price')">
            Price is not a positive number
        </span> 
    </div>
    <div class="form-group">
        <label for="courseCategory">Course Category:</label>
        <select id="courseCategory"
                class="form-control"
                formControlName=category>
            <option value="-1">All Categories</option>                
            <option *ngFor="let c of categories"
                    [value]="c">{{ c }}</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Search</button>
    </div>
</form>